
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.env
###< symfony/framework-bundle ###
config/packages/framework.yaml
/public/css/icon_fonts/font
###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###ide ###
.idea/
###ide ###
###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
